.hero {
  padding-top: 5rem;
}

#projects {
  background-color: #c5e1d4;
}

section {
  padding-top: 5rem;
}

.key-box {
  position: relative;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.key-box::before {
  content: 'MY';
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: -100px;
  opacity: 0;
  transition: 0.5s;
}

.key-box:hover::before {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: .2;
}

.key-box::after {
  content: 'KEYBOARD';
  position: absolute;
  color: #fff;
  font-size: 4.3em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.key-box:hover::after {
  opacity: .2;
}

.key-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.key-box:hover .key-name {
  top: 20px;
  opacity: 1;
}

.key-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 90px);
  opacity: 0;
  transition: 0.5s;
}

.key-box:hover .key-button {
  opacity: 1;
  bottom: 20px;
}

.key-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 350px;
}

.key-box:hover .key-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
  transition: .5s;
}